extends layout

block content
  .container
    form(onsubmit='return false;')
      .form-group.row
        .col-sm-8
          input(class='form-control form-control-lg' id='poll-name' placeholder='Poll name')
        .col-sm-2
          input(class='form-control form-control-lg' id='poll-time' type='Number', min='30'  value='30')
        .col-sm-2
          input(class='form-control form-control-lg' id='poll-winners' type='Number' min='1' max='2' value='1')
      .candidates
      .form-group.row
        .col-sm-10
          input(class='form-control form-control-lg add-candidate-field' placeholder='Add candidate')
        .col-sm-2
          button(type='submit' class='btn btn-lg btn-info start-poll') Start
    center
      .col-sm-2
        a(href='/history' class='btn btn-lg btn-info') History
  script(src='/javascripts/admin.js')
