extends layout

block content
  .container-fluid
    .col.col-md-4
    .col.col-sm-12.col-md-4
      if poll == null
        h4 No active vote available!
      else if thanks
        h4 Thanks for voting!
      else 
        h4= "Vote for " + poll
        form(action='/vote', method='get')
          - var x = 0
          while x < winners
            - x++
            select(required, size=candidates.length, name='candidate' + x, class='form-control form-control-lg', id='candidate' + x)
              each candidate in candidates
                option(value=candidate)= candidate
            br
          center
            button(type='submit', class='btn btn-lg btn-info', id='submit') Submit
            .alert.alert-danger(id='alert', role='alert') You must select different options for your vote!
    .col.col-md-4
  script(src='/javascripts/script.js')
