doctype html
html
  head
    title Admin
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")

body
  .background
  .container
    br
    form(onsubmit='return false;')
      .form-group.row
        .col-sm-6
          input(class='form-control form-control-lg' id='poll-name' placeholder='Poll name')
        .col-sm-3
          .input-group
            input(class='form-control form-control-lg' id='poll-time' type='Number' min='30'  value='30' aria-describedby='timeaddon')
            .input-group-append
              span(class='input-group-text' id='timeaddon') Seconds
        .col-sm-3
          .input-group
            input(class='form-control form-control-lg' id='poll-winners' type='Number' min='1' max='2' value='1' aria-describedby='winnersaddon')
            .input-group-append
              span(class='input-group-text' id='winnersaddon') Winner(s)
      .candidates
      .form-group.row
        .col-sm-10
          input(class='form-control form-control-lg add-candidate-field' placeholder='Add candidate')
        .col-sm-2
          button(type='submit' class='btn btn-lg btn-info start-poll') Start
    center
      .col-sm-2
        a(href='/history' class='btn btn-lg btn-info') History
    br
  script(src='/javascripts/admin.js')
