extends layout

block content
  .container
    br
    if polls.length == 0
      h1(class='text-center') No vote history
    else
      h1 Vote history
      table(class='table')
        each poll in polls
          thead(class='thead-light')
            tr
              th= poll.name + ' ' + (poll.when.getMonth() + 1) + '/' + poll.when.getFullYear()
              th(class='text-right')= poll.voters.length + ' voters (' + poll.winners + (poll.winners == 1 ? ' winner)' : ' winners)')
          tbody
            each votes, candidate in poll.candidates
              tr
                td= candidate
                td(class='text-right')= votes + ' votes (' + (votes / poll.voters.length * 100).toFixed(1) + '%)'