doctype html
html
  head
    title Vote history
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no')
  body
    .container.centered
      br
      h1 No Vote History